# Frontend (Next.js)
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
NEXT_PUBLIC_FACTORY_CONTRACT_ID=CBFMYDQDRJGOXYRKBDBBS2LQTAHHYYXUDAPGZVZJ2MEYJWHT3RGUSEJP
NEXT_PUBLIC_BONDING_CURVE_CONTRACT_ID=CD7Q2RTRO7L2TC4WJSNVNONIWZFHVGAZGEXFI4INEK4QMEJ3JO3K4FRN
NEXT_PUBLIC_IPFS_GATEWAY=https://gateway.pinata.cloud

# Scripts (deployer account)
SOROBAN_ACCOUNT=
SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
